@charset "UTF-8";
@import url('../../node_modules/normalize.css/normalize.css');
@import url("../../node_modules/codemirror/lib/codemirror.css");

html {
	line-height: 1.8;
}

.CodeMirror {
	height: 100%;
	background: transparent;
	font-size: 1em;
	font-family: monospace, serif;
}

.cm-header-1 {
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: bold
}

.cm-header-2 {
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: bold
}
.cm-header-3 {
	font-size: 1.17em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: bold
}
.cm-header-4 {
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: bold
}
.cm-header-5 {
	font-size: .83em;
	-webkit-margin-before: 1.67em;
	-webkit-margin-after: 1.67em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: bold
}
.cm-header-6 {
	font-size: .67em;
	-webkit-margin-before: 2.33em;
	-webkit-margin-after: 2.33em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	font-weight: bold
}